<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html" [ngClass]="{'highlight': highlight}" [ngStyle]=" { 'font-size': fontSize+'px' } ">conduit</a>
        <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="search" />
        <button class="btn btn-sm btn-primary" (click)="clickSearch($event)">
          <i class="ion-search"></i>
        </button>
        <ng-container *ngIf="search == ''; else displaySearchString">
            請輸入文字
        </ng-container>
        <ng-template #displaySearchString>
            {{search}}
        </ng-template>
    </div>
</nav>